.loading {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(270deg, #2bcdf1, #c9f31e);
  background-size: 400% 400%;
  animation: AnimationName 2s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
